.card-container {
  width: 85%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1220px) {
  .card-container {
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
